// Color
$body-color: #64748B; 
$body-color-50: #526077; // new
$body-color-60: #8695AA; // new
$primary: #605DFF; 
$primary-50: #4936F5; 
$primary-60: #3225AE; 
$primary-70: #DDE4FF;  
$secondary: #3A4252;
$info: #2DB6F5; 
$success: #37D80A;
$success-50: #1E8308;
$success-60: #25B003;
$success-70: #82FC5A;
$success-80: #D8FFC8;
$success-90: #eeffe5; 
$warning: #FFBC2B;
$danger-40: #D71C00; 
$danger-50: #EE3E08; 
$danger-60: #EC1F00; 
$danger-70: #FFE1DD; 
$danger-80: #ff4023; 
$danger-90: #C52B09; 
$danger-100: #fff5ed; 
$light: #D5D9E2;
$dark: #000000;
$border-color: #ECEEF2;
$border-color-50: #ECF0FF;
$body-bg: #F6F7F9;
$primary-div: #AD63F6; 
$primary-div-50: #9135E8; 
$primary-div-60: #F3E8FF; 
$danger-div: #FFCEA9;
$gray-light: #445164;
$rating-color: #FE7A36;
$card-bg-c: #3584FC;
$card-text-c: #FFE8D4;
$gary-light: #F4F6FC;
$gray-div: #f7f8f7;
$gray-100: #f5f7f8; // new
$transition: all ease .5s;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$body-font-family: "Inter", sans-serif;

// For Dark Mode Color
$dark-body-bg: #0A0E19;
$dark-body-color: #8695AA;
$dark-card-bg: #0C1427;
$dark-input-bg: #15203c;
$dark-border: #172036;

// Font Size
$font-size-root: null;
$font-size-base: .88rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 2.5; // Updated 43.2px
$h2-font-size: $font-size-base * 2.3; // Updated 36.8px
$h3-font-size: $font-size-base * 1.8; // Updated 28.8px
$h4-font-size: $font-size-base * 1.4; // Updated 22.4px
$h5-font-size: $font-size-base * 1; // Updated 17.6px
$h6-font-size: $font-size-base; // Updated 16px